@using Microsoft.Extensions.Options
@using SemanticAgents.Client.Abstractions
@using SemanticAgents.Client.Utility
@using SemanticAgents.Configuration

@* <h4>Remote Model</h4> *@

@if (!string.IsNullOrWhiteSpace(_errorMessage))
{
    <p class="text-danger m-2">@_errorMessage</p>
}

<div class="row mt-2">
    <div class="col-2">
        <h5 class="mt-2">Text Model Id:</h5>
    </div>
    <div class="col-3">
        <input inert class="bg-dark text-light form-control" @bind="_textModelId" />
    </div>
    <div class="col-2 offset-1">
        <h5 class="mt-2">Image Model Id:</h5>
    </div>
    <div class="col-3">
        <input inert class="bg-dark text-light form-control" @bind="_imageModelId" />
    </div>
</div>

<hr />

@if (_thinking)
{
    <br />
    <div class="mx-auto text-center mb-3 mt-3">
        <div class="spinner-border text-yellow-alt role-status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {

    [Parameter]
    public string? ConfiguredModelProvider { get; set; }
    [Inject]
    public IOptions<SemanticKernelSettings>? _semanticKernelSettings { get; set; }
    [Inject]
    public IToastrService Toastr { get; set; } = default!;

    [Parameter]
    public EventCallback<string> ModelIdLoadedCallback { get; set; }

    private bool _loadingConfiguration;
    private bool _thinking;
    private string? _errorMessage;

    private string? _textModelId;
    private string? _imageModelId;

    private async Task GetConfiguredProviderDefaults()
    {
        // for OpenAI and Grok - the local model is loaded by the user anyway so a list is not really relevant
        if (ConfiguredModelProvider == "Grok")
        {
            _textModelId = StaticData.Grok_TextModel_Grok_2;                    // _semanticKernelSettings?.Value.Grok_TextModelId;
            _imageModelId = StaticData.Grok_ImageModel_Grok_2_Image_1212;       // _semanticKernelSettings?.Value.Grok_ImageModelId;
        }
        else if (ConfiguredModelProvider == "OpenAI")
        {
            _textModelId = StaticData.OpenAI_TextModel_gpt3_5_Turbo;    // _semanticKernelSettings?.Value.OpenAI_TextModelId;
            _imageModelId = StaticData.OpenAI_ImageModel_dall_e_3;      //x _semanticKernelSettings?.Value.OpenAI_ImageModelId;
        }

        await ModelIdLoadedCallback.InvokeAsync(_textModelId);

        _loadingConfiguration = false;
        _thinking = false;

        // await Toastr.ShowToastrSuccess($"Text Model {_textModelId} Loaded!");
    }

    protected override async Task OnInitializedAsync()
    {
        _loadingConfiguration = true;
        _thinking = true;
        await GetConfiguredProviderDefaults();
    }
}