@page "/openApi/productsChat"
@rendermode InteractiveServer
@using Microsoft.Extensions.Options
@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.ChatCompletion
@using Microsoft.SemanticKernel.Connectors.OpenAI
@using SemanticAgents.Abstractions
@using SemanticAgents.Client.Abstractions
@using SemanticAgents.Configuration
@using SemanticAgents.SemanticKernelDTOs
@using SemanticAgents.SemanticKernelLocalHttpClients
@using Microsoft.SemanticKernel.Plugins.OpenApi

<PageTitle>Basic Chat</PageTitle>

@if (_configuredModelProvider == "OpenAI" || _configuredModelProvider == "Grok")
{
    <RemoteModelConfiguration ConfiguredModelProvider="@_configuredModelProvider" ModelIsLoaded="SetModelIsLoaded"></RemoteModelConfiguration>
}
else if (_configuredModelProvider == "LMStudio" || _configuredModelProvider == "Ollama")
{
    <LocalModelConfiguration ConfiguredModelProvider="@_configuredModelProvider" ModelIsLoaded="SetModelIsLoaded"></LocalModelConfiguration>
}

@* BODY *@

<div class="row mt-2">
    @if (_modelIsLoaded)
    {
        <div class="col-2">
            @if (_chatHistory is null)
            {
                <a class="btn button-custom-primary form-control" @onclick="InitializeChat">Start Chat</a>
            }
            else
            {
                <a class="btn button-custom-primary form-control" @onclick="ResetChat">Reset Chat</a>
            }
        </div>
        <div class="col-2 offset-1">
            <btn class="btn button-custom-primary form-control" @onclick="CheckIfCancellationTokenExists">Check CTS</btn>
        </div>
        @if (_showReductionOption)
        {
            <div class="col-2 offset-1">
                <a class="btn button-custom-warning form-control" @onclick="ReduceChatHistory">Reduce History</a>
            </div>
            <div class="col-1">
                <p class="mt-2">Reduction:</p>
            </div>
            <div class="col-2 text-center">
                <select class="bg-dark text-light form-select mt-1" @bind="_reductionType">
                    @foreach (var type in _reductionTypesList)
                    {
                        <option value=@type>@type</option>
                    }
                </select>
            </div>
        }
    }
</div>

@if (_chatHistory is not null)
{
    <div class="row mt-2">
        <label for="userMessage" class="form-label">Your Message:</label>
        <textarea rows="4" class="bg-dark text-light form-control" id="userMessage"
                  @bind="_userMessage" @bind:after="SubmitUserMessage" @onfocus="ClearUserMessage" />
    </div>

    <div class="row mt-2">
        <div class="col-4 offset-4">
            @if (_processingUserRequest)
            {
                <btn class="btn button-custom-danger form-control" @onclick="CancelRequest">Cancel</btn>
            }
            else
            {
                <btn class="btn button-custom-success form-control" @onclick="SubmitUserMessage">Submit</btn>
            }
        </div>
        
    </div>

    @if (_showChatHistory)
    {
        <div class="row mt-2">
            <label for="historyList" class="form-label">History:</label>
            <textarea rows="10" class="bg-dark text-light form-control" id="historyList" @bind="_messageHistoryList" />
        </div>
    }
    else
    {
        <div class="row mt-2">
            <label for="assistantMessage" class="form-label">Assistant Message:</label>
            <textarea rows="10" class="bg-dark text-light form-control" id="assistantMessage" @bind="_assistantMessage" />
        </div>
    }

    <div class="row mt-2">
        <div class="col-4 offset-4">
            <btn class="btn button-custom-success form-control" @onclick="ToggleShowChatHistory">@_showChatHistoryButtonText</btn>
        </div>
    </div>
}

@if (_thinking)
{
    <br />
    <div class="mx-auto text-center mb-3 mt-3">
        <div class="spinner-border text-yellow-alt role-status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {

    [CascadingParameter(Name = "SemanticKernelInfo")]      // Root level cascading parameter
    private SemanticKernelInfo? _kernelInfo { get; set; }
    [Inject]
    private Kernel _kernel { get; set; } = default!;
    [Inject]
    private IToastrService _toastr { get; set; } = default!;
    [Inject]
    private ILMStudioHttpProvider _lmStudioHttpProvider { get; set; } = default!;
    [Inject]
    private IOllamaHttpProvider _ollamaHttpProvider { get; set; } = default!;


    private string? _configuredModelProvider;
    // private string? _configuredTextModelId;

    private bool _modelIsLoaded;

    private void SetModelIsLoaded(bool isLoaded) => _modelIsLoaded = isLoaded;

    private void ClearUserMessage() => _userMessage = string.Empty;
    private bool _showChatHistory;
    private string _showChatHistoryButtonText = "Show Chat History";
    private void ToggleShowChatHistory()
    {
        _showChatHistory = !_showChatHistory;
        if (_showChatHistory) _showChatHistoryButtonText = "Hide Chat History";
        else _showChatHistoryButtonText = "Show Chat History";
    }

    private OpenAIPromptExecutionSettings? _promptExecutionSettings;
    private ChatHistory? _chatHistory;
    private string? _userMessage;    // = string.Empty;
    private IChatCompletionService? _chatService;
    private string? _assistantMessage = string.Empty;
    private string? _messageHistoryList; // = string.Empty;
    private bool _thinking = false;
    private bool _processingUserRequest = false;
    private string? _errorMessage;
    private bool _showReductionOption;
    private int _reductionThreshold = 6;

    private CancellationTokenSource? _cancellationTokenSource;
    private async Task CancelRequest()
    {
        if (_cancellationTokenSource is null) return;
        await _cancellationTokenSource.CancelAsync();
        _cancellationTokenSource.Dispose();
    }
    private async Task CheckIfCancellationTokenExists()
    {
        if (_cancellationTokenSource is null) await _toastr.ShowToastrInfo($"The CancellationTokenSource IS NULL.");
        else await _toastr.ShowToastrInfo($"The CancellationTokenSource EXISTS.");
    }

    private async Task InitializeChat()
    {
        if (_kernel is not null)
        {
            await _kernel.ImportPluginFromOpenApiAsync(
                pluginName: "products",
                uri: new Uri("https://localhost:7152/openapi/v1.json"),
                executionParameters: new OpenApiFunctionExecutionParameters() { EnablePayloadNamespacing = true }
            );

            Console.WriteLine($"************* THE OPEN API SPEC PLUGIN WAS SUCCESSFULLY CONFIGURED **************");
        }
        else Console.WriteLine($"************* THE KERNEL WAS NULL!!! **************");

        // _kernel.ImportPluginFromType<TimePlugin>();

        _promptExecutionSettings = new()
        {
            MaxTokens = 128000,
            Temperature = 0.7,
            TopP = 0.95,
            FrequencyPenalty = 0,
            PresencePenalty = 0,
            ToolCallBehavior = ToolCallBehavior.AutoInvokeKernelFunctions
        };
        _chatHistory = new ChatHistory();
        _chatHistory.AddSystemMessage("You are a helpful assistant who has access to a collection of ProductDTOs using the plugin " +
            "with the pluginName \'products\'. ProductDTOs are equevalent to Products.  Any reference to the term Products in user messages " +
            "or Function descriptions should be considered to refer to ProductDTOs. Any reference to an Image should be understood to refer " +
            "to an ImageDataDTO.  Any reference to a Document should be understood to refer to a DocumentDataDTO.");
        _userMessage = string.Empty;
        _assistantMessage = string.Empty;
        _messageHistoryList = string.Empty;
    }

    private void ResetChat()
    {
        _chatHistory = new ChatHistory();   // just using Clear() not working well.
        _chatHistory.AddSystemMessage("You are a helpful assistant who has access to a collection of ProductDTOs using the plugin " +
            "with the pluginName \'products\'. ProductDTOs are equevalent to Products.  Any reference to the term Products in user messages " +
            "or Function descriptions should be considered to refer to ProductDTOs. Any reference to an Image should be understood to refer " +
            "to an ImageDataDTO.  Any reference to a Document should be understood to refer to a DocumentDataDTO.");
        _userMessage = string.Empty;
        _assistantMessage = string.Empty;
        _messageHistoryList = string.Empty;
    }

    private async Task SubmitUserMessage()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_userMessage))
            {
                await _toastr.ShowToastrError("Please enter a message.");
                return;
            }

            using (_cancellationTokenSource = new CancellationTokenSource())
            {
                _thinking = true;
                _processingUserRequest = true;
                _chatHistory!.AddUserMessage(_userMessage);
                _messageHistoryList += $"USER: {_userMessage}\n\n";
                _assistantMessage = string.Empty;

                // // OPTION 1: NON-STREAMING
                // ChatMessageContent assistantContent = await _chatService!.GetChatMessageContentAsync(_chatHistory!, _promptExecutionSettings, _kernel);
                // _messageHistoryList += ($"{assistantContent.Content}\n\n");
                // if (assistantContent.Content is not null) _chatHistory.AddAssistantMessage(assistantContent.Content);
                // _userMessage = string.Empty;

                // OPTION 2: STREAMING
                await foreach (StreamingChatMessageContent chunk in _chatService!.GetStreamingChatMessageContentsAsync(
                    _chatHistory, _promptExecutionSettings, _kernel, _cancellationTokenSource.Token))
                {
                    _assistantMessage += chunk.Content;
                    if (_cancellationTokenSource.Token.IsCancellationRequested)
                    {
                        Console.WriteLine("Breaking out of streaming loop - the Operation has been cancelled by user.");
                        _assistantMessage += $"\nOperation cancelled by user.";
                        break;
                    }
                }

                _messageHistoryList += ($"ASSISTANT: {_assistantMessage}\n\n");
                if (_assistantMessage is not null) _chatHistory.AddAssistantMessage(_assistantMessage);
                // _userMessage = string.Empty; // cleared with 'onfocus' event on element
                if (_chatHistory.Count >= _reductionThreshold) _showReductionOption = true;
                _thinking = false;
                _processingUserRequest = false;
            }
            // _cancellationTokenSource.Dispose();
        }
        catch (OperationCanceledException)
        {
            await _toastr.ShowToastrInfo($"OPERATION CANCELLED EXCEPTION: Operation cancelled by user.");
            Console.WriteLine("Operation Canceled Exception: Operation cancelled by user.");
            _assistantMessage += $"\nOperation cancelled by user.";
            _thinking = false;
            _processingUserRequest = false;
            // _cancellationTokenSource?.Dispose();
        }
        catch (Exception ex)
        {
            await _toastr.ShowToastrError($"EXCEPTION: {ex.Message}");
            Console.WriteLine($"****** \nEXCEPTION: {ex.Message}\n******");
            _errorMessage = ex.Message;
            _thinking = false;
            _processingUserRequest = false;
            // _cancellationTokenSource?.Dispose();
        }
    }

    private List<string> _reductionTypesList = new List<string>() { "truncation", "summarization" };
    private string _reductionType = "truncation";
    private async Task ReduceChatHistory()
    {
        Console.WriteLine($"ReduceChatHistory called with reduction type {_reductionType}");

        try
        {
            if (_chatHistory is null)
            {
                _errorMessage = $"The ChatHistory is null.";
                return;
            }

            _thinking = true;
            IChatHistoryReducer? reducer = null;
            if (_reductionType == "truncation")
            {
                reducer = new ChatHistoryTruncationReducer(2);
            }
            else if (_reductionType == "summarization")
            {
                if (_chatService is null)
                {
                    _errorMessage = $"Cannot use Summarization to reduce chat history as the ChatService is null.";
                    return;
                }
                reducer = new ChatHistorySummarizationReducer(_chatService, 2);
            }

            if (reducer is null)
            {
                _errorMessage = $"A ChatHistory Reducer was not properly configured.";
                return;
            }
            var reducedHistory = await reducer!.ReduceAsync(_chatHistory);
            if (reducedHistory is not null)
            {
                _chatHistory = new ChatHistory(reducedHistory);
                _showReductionOption = false;
            }
            _thinking = false;

        }
        catch (Exception ex)
        {
            Console.WriteLine($"****** \nEXCEPTION: {ex.Message}\n******");
            _errorMessage = ex.Message;
            _thinking = false;
        }
    }

    protected override void OnInitialized()
    {
        if (_kernelInfo is not null) _configuredModelProvider = _kernelInfo.ModelProvider;
        _chatService = _kernel.GetRequiredService<IChatCompletionService>();
        // await _kernel.ImportPluginFromOpenApiAsync(
        //     pluginName: "products",
        //     uri: new Uri("https:localhost:7152/openapi/v1.json"),
        //     executionParameters: new OpenApiFunctionExecutionParameters() { EnablePayloadNamespacing = true }
        // );
    }
}
