@rendermode InteractiveServer
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using SemanticAgents.Configuration

<div class="d-flex align-items-center mx-5">
    <p class="my-0 text-secondary-alt text-sm-start">
        <i class="bi-lightning-charge-fill"></i>
        @if (!string.IsNullOrWhiteSpace(KernelInfo?.LoadedModelId))
        {
            <b><i>&nbsp; LLM: @KernelInfo?.LoadedModelId &nbsp;  &nbsp;  Provider: @KernelInfo?.ModelProvider</i></b>
        }
        else
        {
            <b><i>&nbsp; LLM Provider: @KernelInfo?.ModelProvider</i></b>
        }
    </p>
</div>

@code {

    [CascadingParameter(Name = "SemanticKernelInfo")]      // Root level cascading parameter 
    public SemanticKernelInfo? KernelInfo { get; set; }
}
